<h1>Welcome to Silverspoon!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
<p class="lead">This is just a start to your next big thing.</p>
